@import '../../color-scheme.scss';

.service-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 1024px;
    @media screen and (max-width: 1080px) {
        width: 992px;
    }
    @media screen and (max-width: 1023px) {
        width: 768px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    margin: auto;
}

.service__header {
    height: 80px;
    width: 100vw;
    text-align: center;
    line-height: 80px;
    color: $primaryColorDark;
    @media screen and (max-width: 767px) {
        line-height: 48px;
        height: 96px;
        margin-bottom: 24px;
    }
}