@import '../../color-scheme.scss';

header {
    height: 120px;
    background-color: white;
    padding: 20px 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid $primaryColorLight;
}