@import '../../color-scheme.scss';

.cart-button-container {
    width: 27px;
    height: 27px;
    color: $primaryColorDark;
    &:hover {
        cursor: pointer;
    }
}

.cart-dropdown {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    position: relative;
    right: 73px;
}