@import './color-scheme.scss';

.page {
  min-height: calc(100vh - 120px);
}

.link {
  text-decoration: none;
  color: $primaryColorDark;
  font-weight: 500;
  &:visited {
      color: $primaryColorDark;
  }
  &:hover {
      cursor: pointer;
      color: $primaryColorLight;
      transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}