@import './color-scheme.scss';

body {
  color: $neutral800;
  scroll-behavior: smooth;
  font-size: 20px;
  font-weight: 300;
}

.page {
  min-height: calc(100vh - 120px);
  padding: 30px 10px;
}

.link {
  text-decoration: none;
  color: $primaryColorDark;
  font-weight: 400;
  transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  h1, h2, h3 {
    transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  &:visited {
      color: $primaryColorDark;
  }
  &:hover {
      cursor: pointer;
      color: $secondaryColor;
      transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      h1, h2, h3 {
        transition: color .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: medium;
}

h3, h4, h5, h6 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 300;
}

p.details {
  font-size: 12px;
  font-weight: 300;
}

.button {
  display: inline-block;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}

.button-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: $neutral100;
}

.button-secondary {
  background-color: $neutral100;
  border-color: $neutral800;
  color: $neutral800;
  transition: all 0.25s ease 0s;
  &:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: $neutral100;
    transition: all 0.25s ease 0s;
  }
}

.button-primary-small, .button-secondary-small {
  max-height: 50px;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.28px;
  line-height: 18px;
}

.button-primary-default, .button-secondary-default {
  max-height: 90px;
  padding: 32px 38px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  line-height: 22px;
}

.button-primary-large, .button-secondary-large {
  max-height: 66px;
  padding: 20px 68px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 24px;
}

.Mui-selected {
  color: $primaryColor !important;
  border-color: $primaryColor !important;
  outline-color: $primaryColor !important;
}