$primaryColor: #ff7549;
$primaryColorDark: #233b99;
$primaryColorLight: #cddceb;

$light: #f9f8f5;
$secondaryColor: #eb8a47;

$neutral800: #181A3F;
$neutral700: #353655;
$neutral600: #555671;
$neutral500: #808091;
$neutral400: #d9d8d5;
$neutral300: #dad9d6;
$neutral200: #f9f8f5;
$neutral100: #ffffff;