@import '../../keyframes.scss';

.main__article__aside {
    max-width: 45%;
    height: 100%;
    display: block;
    background-size: cover;
}

.main__article {
    width: 100%;
    padding: 30px 10px;
    margin: 0 auto; 
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &:nth-child(odd) {
        flex-direction: row;
        text-align: left;
        .main__article__aside__image {
            border-radius: 0;
            border-top-left-radius: 200px;
            background-position: right;
        }
    }
    &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        .main__article__aside__image {
            border-radius: 0;
            border-top-right-radius: 200px;
            background-position: left;
        }
    }
    section, aside {
        width: 45%;

    }
}

.main__article__description {
    margin: 10px 0 30px 0;
    line-height: 28px;
}

.main__article__header {
    margin: 10px 0 30px 0;
}

.main__article__buttons__block {
    display: flex;
    justify-content: space-between;
}