.navbar-container {
    border: 1px dotted red;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
}