@import '../../color-scheme.scss';

.navbar-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navbar__link {
    height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__home-link {
    display: none;
    @media screen and (min-width: 1023px) {
        display: flex;
    }
}